<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TestbedDAQ.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <TestbedDAQ.Properties.Settings>
            <setting name="ServerIP" serializeAs="String">
                <value>218.155.74.35</value>
            </setting>
            <setting name="ServerPort" serializeAs="String">
                <value>1433</value>
            </setting>
            <setting name="DataBaseName" serializeAs="String">
                <value>iPlusPOP_SJSM_TEST</value>
            </setting>
            <setting name="dbID" serializeAs="String">
                <value>erpUser</value>
            </setting>
            <setting name="dbPW" serializeAs="String">
                <value>erpPasswd</value>
            </setting>
            <setting name="Init" serializeAs="String">
                <value>True</value>
            </setting>
        </TestbedDAQ.Properties.Settings>
    </userSettings>
</configuration>